<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>
	MBank</display-name>
	<servlet>
		<description>
		MBank Online Simulation! (By Kessler Yaron).
		</description>
		<display-name>
		MainController</display-name>
		<servlet-name>MainController</servlet-name>
		<servlet-class>
		controllers.MainController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		LoginController</display-name>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>
		controllers.LoginController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		BreakDepositController</display-name>
		<servlet-name>BreakDepositController</servlet-name>
		<servlet-class>
		controllers.BreakDepositController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CreateDepositController</display-name>
		<servlet-name>CreateDepositController</servlet-name>
		<servlet-class>
		controllers.CreateDepositController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		DepositController</display-name>
		<servlet-name>DepositController</servlet-name>
		<servlet-class>
		controllers.DepositController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		WithdrawController</display-name>
		<servlet-name>WithdrawController</servlet-name>
		<servlet-class>
		controllers.WithdrawController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		SessionFilter</display-name>
		<servlet-name>SessionFilter</servlet-name>
		<servlet-class>
		filters.SessionFilter</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainController</servlet-name>
		<url-pattern>/MainController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/LoginController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BreakDepositController</servlet-name>
		<url-pattern>/BreakDepositController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateDepositController</servlet-name>
		<url-pattern>/CreateDepositController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DepositController</servlet-name>
		<url-pattern>/DepositController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WithdrawController</servlet-name>
		<url-pattern>/WithdrawController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SessionFilter</servlet-name>
		<url-pattern>/SessionFilter</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>SessionFilter</filter-name>
		<filter-class>filters.SessionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<servlet-name>MainController</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<servlet-name>/jsp/accountJSP/*</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<servlet-name>/jsp/depositJSP/*</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<servlet-name>/jsp/reportsJSP/*</servlet-name>
	</filter-mapping>
	<error-page>
		<error-code>404</error-code>
		<location>/errorPages/error404.html</location>
	</error-page>
	<welcome-file-list>
		<welcome-file>/jsp/viewManager.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
